[Unit]
Description=A lightweight Telegraf distribution customized for Ubiquiti's EdgeOS.
Documentation=https://github.com/x70b1/telegraf-edgeos
After=network.target

[Service]
User=telegraf
ExecStartPre=/bin/mkdir -p /config/user-data/telegraf.conf.d/
ExecStart=/usr/bin/telegraf -config-directory /config/user-data/telegraf.conf.d $TELEGRAF_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group
AmbientCapabilities=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
