name: CI/CD

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

env:
  VERSION_UPSTREAM: 1.36.1
  VERSION_BUILD: 1

jobs:
  Variables:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ env.VERSION_UPSTREAM }}
      build: ${{ env.VERSION_BUILD }}
    steps:
      - run: echo "Expose env vars"

  flavor-vector:
    needs:
      - Variables
    uses: ./.github/workflows/build.yml
    with:
      flavor: vector
      version: ${{ needs.Variables.outputs.version }}
      build: ${{ needs.Variables.outputs.build }}
      inputs: inputs.bond,inputs.cpu,inputs.disk,inputs.diskio,inputs.dns_query,inputs.ethtool,inputs.exec,inputs.http_response,inputs.internal,inputs.internet_speed,inputs.iptables,inputs.mem,inputs.net,inputs.netstat,inputs.net_response,inputs.ping,inputs.processes,inputs.snmp,inputs.snmp_legacy,inputs.snmp_trap,inputs.system,inputs.syslog,inputs.socket_listener
      outputs: outputs.socket_writer
      parsers: parsers.influx,parsers.grok
      processors:
      serializers: serializers.json
  